@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.project-title {
  position: fixed;
  width: 100%;
  font-family: "Syne Mono", monospace;
  font-size: 60px;
  text-align: center;
  color: #461e1e;
  background-color: rgb(194, 192, 109);
  margin: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
}

.movie-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}

.search-field {
  padding-top: 12%;
  width: 60%;
}
#inputfield {
  font-family: "Courgette", cursive;
}
.searchbt {
  padding: 20px 0 0 0;
}

#click-search {
  background-color: rgb(94, 41, 41);
  box-shadow: 1px 1px 10px 0px rgb(37, 2, 2);
  padding: 10px 20px;
  margin: 0;
  color: rgb(219, 219, 216);
  font-family: "Courgette", cursive;
  font-size: 1.3em;
}

#click-search {
  transition: all 0.2s ease-in-out;
}
#click-search:hover {
  transform: scale(1.04);
}

.unactive {
  display: none;
}

.active {
  width: 60%;
  z-index: 1;
}

.current-movie {
  background-color: #e2e2e2;
  box-shadow: 1px 1px 10px 0px rgb(34, 34, 34);
  padding: 9.5px 14px;
  border-radius: 10px;
  z-index: 1;
  margin-bottom: 30px;
  display: flex;
}

.current-movie-null {
  display: none;
}

.poster {
  width: 150px;
  height: 200px;
}

.poster-recommend {
  width: 120px;
  height: 150px;
  border-radius: 5px;
}

.movie-details {
  padding-top: 5px;
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
  color: #2e302f;
}

.movie-details-recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: #2e302f;
}

.recommended-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10px; */
}

.title {
  font-weight: bold;
  font-size: 24px;
  padding-right: 5px;
}

.title-recommended {
  font-size: 18px;
  padding: 5px;
}

.star {
  color: #ffcc00;
  padding-right: 5px;
}

.runtime-genres {
  padding-top: 15px;
}

.rating {
  padding: 15px 0 20px 0;
}

.title-recommended-movies {
  padding: 15px 15px;
  color: #2b0909;
  font-size: 25px;
  background-color: #e2e2e2;
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: "Courgette", cursive;
}

.null-movie {
  padding: 10px 15px;
  color: #2b0909;
  font-size: 36px;
  background-color: #e2e2e2;
  border-radius: 10px;
  margin-bottom: 15px;
}

.null-movie h1 {
  font-family: "Courgette", cursive;
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.list-of-movies {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.movies {
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: #4a4e4d;
  padding: 9.5px 10px;
  border-radius: 10px;
  z-index: 1;
  background-color: #e2e2e2;
  box-shadow: 1px 1px 10px 0px rgb(34, 34, 34);
  width: 18%;
  height: 30%;
  margin-right: 4%;
  margin-top: 3%;
  height: 260px;
}

.movies {
  transition: all 0.2s ease-in-out;
}
.movies:hover {
  transform: scale(1.05);
}

.footer {
  position: fixed;
  width: 100%;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #461e1e;
  background-color: rgb(211, 210, 150);
  margin: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  bottom: 0;
}

@media only screen and (max-width: 640px) {
  .project-title {
    font-size: 24px;
  }
  .search {
    padding-top: 12%;
  }
  .movie-details {
    padding-top: 10px;
    font-size: 16px;
  }
  .current-movie {
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 18px;
  }

  .rating {
    padding: 10px 0;
  }
  .runtime-genres {
    padding-top: 10px;
  }

  .title-recommended-movies {
    text-align: center;
    padding: 5px 10px;
    font-size: 22px;
    line-height: 1.2;
  }

  .movies {
    width: 100%;
    margin-top: 10%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 640px) {
  .movie-details-recommended {
    font-size: 14px;
  }
  .title-recommended {
    font-size: 16px;
    padding: 3px;
  }
  .movies {
    height: 200px;
    width: 22%;
  }
  .list-of-movies {
    width: 80%;
  }
  .active {
    width: 80%;
  }
  .poster-recommend {
    width: 80px;
    height: 100px;
  }
  .search {
    width: 80%;
  }
  .project-title {
    font-size: 36px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .search {
    padding-top: 20%;
  }
}
